#### The outcome of the following code gives rise to the SQL code that allows to insert all data in the correct tables in the SQL database

In [1]:
import pandas as pd

#region currencies

df_currencies = pd.read_csv("demo_raw_data_currencies.csv", delimiter=";")

df_currencies.columns

string_header = ""
for i in df_currencies.columns:
    string_header += i + ","
#print (string_header)

string_code_base = "INSERT INTO investments.currencies (" + string_header[:len(string_header)-1] + ") VALUES "
#print (string_code_base)
for i in df_currencies.values:
    temp_tuple = tuple (i)
#    print (temp_tuple)
    string_cod = string_code_base + str(temp_tuple) + ";"
    string_cod = string_cod.replace(", nan", ", NULL")

    print (string_cod)

#endregion

#region alocations

df_alocations = pd.read_csv("demo_raw_data_alocations.csv", delimiter=";")

df_alocations.columns

string_header = ""
for i in df_alocations.columns:
    string_header += i + ","
#print (string_header)

string_code_base = "INSERT INTO investments.alocations (" + string_header[:len(string_header)-1] + ") VALUES "
#print (string_code_base)
for i in df_alocations.values:
    temp_tuple = tuple (i)
#    print (temp_tuple)
    string_cod = string_code_base + str(temp_tuple) + ";"
    string_cod = string_cod.replace(", nan", ", NULL")

    print (string_cod)

#endregion

#region geographies

df_geographies = pd.read_csv("demo_raw_data_geographies.csv", delimiter=";")

df_geographies.columns

string_header = ""
for i in df_geographies.columns:
    string_header += i + ","
#print (string_header)

string_code_base = "INSERT INTO investments.geographies (" + string_header[:len(string_header)-1] + ") VALUES "
#print (string_code_base)
for i in df_geographies.values:
    temp_tuple = tuple (i)
#    print (temp_tuple)
    string_cod = string_code_base + str(temp_tuple) + ";"
    string_cod = string_cod.replace(", nan", ", NULL")

    print (string_cod)

#endregion

#region stock exchanges

df_ses = pd.read_csv("demo_raw_data_stockexcs.csv", delimiter=";")

df_ses.columns

string_header = ""
for i in df_ses.columns:
    string_header += i + ","
#print (string_header)

string_code_base = "INSERT INTO investments.stockexcs (" + string_header[:len(string_header)-1] + ") VALUES "
#print (string_code_base)
for i in df_ses.values:
    temp_tuple = tuple (i)
#    print (temp_tuple)
    string_cod = string_code_base + str(temp_tuple) + ";"
    string_cod = string_cod.replace(", nan", ", NULL")

    print (string_cod)

#endregion

#region tipologies

df_tipologies = pd.read_csv("demo_raw_data_tipologies.csv", delimiter=";")

df_tipologies.columns

string_header = ""
for i in df_tipologies.columns:
    string_header += i + ","
#print (string_header)

string_code_base = "INSERT INTO investments.tipologies (" + string_header[:len(string_header)-1] + ") VALUES "
#print (string_code_base)
for i in df_tipologies.values:
    temp_tuple = tuple (i)
#    print (temp_tuple)
    string_cod = string_code_base + str(temp_tuple) + ";"
    string_cod = string_cod.replace(", nan", ", NULL")

    print (string_cod)

#endregion

#region products

df_products = pd.read_csv("demo_raw_data_products.csv", delimiter=";")

df_products.columns

string_header = ""
for i in df_products.columns:
    string_header += i + ","
#print (string_header)

string_code_base = "INSERT INTO investments.products (" + string_header[:len(string_header)-1] + ") VALUES "
#print (string_code_base)
for i in df_products.values:
    temp_tuple = tuple (i)
#    print (temp_tuple)
    string_cod = string_code_base + str(temp_tuple) + ";"
    string_cod = string_cod.replace(", nan", ", NULL")

    print (string_cod)

#endregion

#region orders

df_orders = pd.read_csv("demo_raw_data_orders.csv", delimiter=";", parse_dates=True)

df_orders['date'] = pd.to_datetime(df_orders['date'], dayfirst=True)
df_orders ["date"] = df_orders['date'].dt.strftime('%Y%m%d')

df_orders.columns

string_header = ""
for i in df_orders.columns:
    string_header += i + ","
#print (string_header)

string_code_base = "INSERT INTO investments.orders (" + string_header[:len(string_header)-1] + ") VALUES "
#print (string_code_base)
for i in df_orders.values:
    temp_tuple = tuple (i)
#    print (temp_tuple)
    string_cod = string_code_base + str(temp_tuple) + ";"
    string_cod = string_cod.replace(", nan", ", NULL")

    print (string_cod)

#endregion

INSERT INTO investments.currencies (currency_id,currency) VALUES (1, 'DKK');
INSERT INTO investments.currencies (currency_id,currency) VALUES (2, 'EUR');
INSERT INTO investments.currencies (currency_id,currency) VALUES (3, 'USD');
INSERT INTO investments.alocations (alocation_id,alocation_description,perc_stocks,perc_bonds,perc_gold,perc_crypto,perc_other_fin_instruments) VALUES (1, '100% Stocks', 100.0, 0.0, 0, 0, 0.0);
INSERT INTO investments.alocations (alocation_id,alocation_description,perc_stocks,perc_bonds,perc_gold,perc_crypto,perc_other_fin_instruments) VALUES (2, '100% Bonds', 0.0, 100.0, 0, 0, 0.0);
INSERT INTO investments.alocations (alocation_id,alocation_description,perc_stocks,perc_bonds,perc_gold,perc_crypto,perc_other_fin_instruments) VALUES (3, '100% Gold', 0.0, 0.0, 100, 0, 0.0);
INSERT INTO investments.alocations (alocation_id,alocation_description,perc_stocks,perc_bonds,perc_gold,perc_crypto,perc_other_fin_instruments) VALUES (4, '100% Crypto', 0.0, 0.0, 0, 100, 0.0);
INSERT INTO investments.alocations (alocation_id,alocation_description,perc_stocks,perc_bonds,perc_gold,perc_crypto,perc_other_fin_instruments) VALUES (5, 'Mixed example', 29.7, 66.2, 0, 0, 4.1);
INSERT INTO investments.geographies (geography_id,geography_description,perc_north_america,perc_latin_america,perc_europe,perc_mena,perc_east_se_asia,perc_oceania,perc_other_geo) VALUES (1, 'no geography', 0, 0, 0, 0, 0, 0, 0);
INSERT INTO investments.geographies (geography_id,geography_description,perc_north_america,perc_latin_america,perc_europe,perc_mena,perc_east_se_asia,perc_oceania,perc_other_geo) VALUES (2, '100% Asia', 0, 0, 0, 0, 100, 0, 0);
INSERT INTO investments.geographies (geography_id,geography_description,perc_north_america,perc_latin_america,perc_europe,perc_mena,perc_east_se_asia,perc_oceania,perc_other_geo) VALUES (3, '100% Europe', 0, 0, 100, 0, 0, 0, 0);
INSERT INTO investments.geographies (geography_id,geography_description,perc_north_america,perc_latin_america,perc_europe,perc_mena,perc_east_se_asia,perc_oceania,perc_other_geo) VALUES (4, '100% LatAm', 0, 100, 0, 0, 0, 0, 0);
INSERT INTO investments.geographies (geography_id,geography_description,perc_north_america,perc_latin_america,perc_europe,perc_mena,perc_east_se_asia,perc_oceania,perc_other_geo) VALUES (5, '100% USA/CAN', 100, 0, 0, 0, 0, 0, 0);
INSERT INTO investments.geographies (geography_id,geography_description,perc_north_america,perc_latin_america,perc_europe,perc_mena,perc_east_se_asia,perc_oceania,perc_other_geo) VALUES (6, '100% MENA', 0, 0, 0, 100, 0, 0, 0);
INSERT INTO investments.geographies (geography_id,geography_description,perc_north_america,perc_latin_america,perc_europe,perc_mena,perc_east_se_asia,perc_oceania,perc_other_geo) VALUES (7, '100% Oceania', 0, 0, 0, 0, 0, 100, 0);
INSERT INTO investments.geographies (geography_id,geography_description,perc_north_america,perc_latin_america,perc_europe,perc_mena,perc_east_se_asia,perc_oceania,perc_other_geo) VALUES (8, 'Mixed example', 66, 1, 15, 1, 14, 2, 1);
INSERT INTO investments.stockexcs (stockexc_id,stockexc,code_stockexc) VALUES (1, 'none', 'none');
INSERT INTO investments.stockexcs (stockexc_id,stockexc,code_stockexc) VALUES (2, 'Nasdaq Copenhagen', 'OMK');
INSERT INTO investments.stockexcs (stockexc_id,stockexc,code_stockexc) VALUES (3, 'Euronext Amsterdam', 'EAM');
INSERT INTO investments.stockexcs (stockexc_id,stockexc,code_stockexc) VALUES (4, 'Euronext Lisbon', 'ELI');
INSERT INTO investments.stockexcs (stockexc_id,stockexc,code_stockexc) VALUES (5, 'Euronext Milan', 'MIL');
INSERT INTO investments.stockexcs (stockexc_id,stockexc,code_stockexc) VALUES (6, 'NASDAQ', 'NDQ');
INSERT INTO investments.stockexcs (stockexc_id,stockexc,code_stockexc) VALUES (7, 'New York SE', 'NSY');
INSERT INTO investments.stockexcs (stockexc_id,stockexc,code_stockexc) VALUES (8, 'Tradegate', 'TDG');
INSERT INTO investments.stockexcs (stockexc_id,stockexc,code_stockexc) VALUES (9, 'Xetra', 'XET');
INSERT INTO investments.tipologies (tipology_id,tipology) VALUES (1, 'ETC');
INSERT INTO investments.tipologies (tipology_id,tipology) VALUES (2, 'ETF');
INSERT INTO investments.tipologies (tipology_id,tipology) VALUES (3, 'Stock');
INSERT INTO investments.tipologies (tipology_id,tipology) VALUES (4, 'Crypto');
INSERT INTO investments.tipologies (tipology_id,tipology) VALUES (5, 'Other tipology');
INSERT INTO investments.products (product_id,product_name,tipology_id,ticker,isin,stockexc_id,geography_id,alocation_id) VALUES (1, 'Apple Inc', 3, 'AAPL', 'US0378331005', 6, 5, 1);
INSERT INTO investments.products (product_id,product_name,tipology_id,ticker,isin,stockexc_id,geography_id,alocation_id) VALUES (2, 'Alphabet Inc', 3, 'ABEC', 'US02079K1079', 8, 5, 1);
INSERT INTO investments.products (product_id,product_name,tipology_id,ticker,isin,stockexc_id,geography_id,alocation_id) VALUES (3, 'Vanguard FTSE All-World UCITS ETF USD Acc', 2, 'VWCE', 'IE00BK5BQT80', 9, 8, 5);
INSERT INTO investments.products (product_id,product_name,tipology_id,ticker,isin,stockexc_id,geography_id,alocation_id) VALUES (4, 'MercadoLibre Inc', 3, 'MELI', 'US58733R1023', 6, 4, 1);
INSERT INTO investments.products (product_id,product_name,tipology_id,ticker,isin,stockexc_id,geography_id,alocation_id) VALUES (5, 'Deutsche Boerse Commodities Xetra-Gold ETC', 1, '4GLD', 'DE000A0S9GB0', 9, 1, 3);
INSERT INTO investments.products (product_id,product_name,tipology_id,ticker,isin,stockexc_id,geography_id,alocation_id) VALUES (6, 'Bitcoin', 4, 'BTC', 'none', 1, 1, 4);
INSERT INTO investments.products (product_id,product_name,tipology_id,ticker,isin,stockexc_id,geography_id,alocation_id) VALUES (7, 'Goldman Sachs Access China Government Bond UCITS ETF USD (Dist)', 2, 'CBND', 'IE00BJSBCS90', 5, 2, 2);
INSERT INTO investments.orders (order_id,buy_id,open_position,date,hour,product_id,transaction_type,quantity,price_unit,currency_id,cambio_rate,comissions,taxes) VALUES (1, 1, False, '20220518', '09:05:00', 1, 'BUY', 20.0, 140.82, 3, 1.0519, 3.0, 28.164);
INSERT INTO investments.orders (order_id,buy_id,open_position,date,hour,product_id,transaction_type,quantity,price_unit,currency_id,cambio_rate,comissions,taxes) VALUES (2, 2, True, '20220602', '10:13:00', 1, 'BUY', 10.0, 151.21, 3, 1.0706, 3.0, 15.121);
INSERT INTO investments.orders (order_id,buy_id,open_position,date,hour,product_id,transaction_type,quantity,price_unit,currency_id,cambio_rate,comissions,taxes) VALUES (3, 1, False, '20231127', '15:04:00', 1, 'SELL', 20.0, 189.79, 3, 1.0737, 3.0, 97.94);
INSERT INTO investments.orders (order_id,buy_id,open_position,date,hour,product_id,transaction_type,quantity,price_unit,currency_id,cambio_rate,comissions,taxes) VALUES (4, 3, True, '20250623', '08:43:00', 2, 'BUY', 10.0, 145.32, 2, NULL, 3.0, 14.532);
INSERT INTO investments.orders (order_id,buy_id,open_position,date,hour,product_id,transaction_type,quantity,price_unit,currency_id,cambio_rate,comissions,taxes) VALUES (5, 3, True, '20250915', '07:34:00', 2, 'Dividend', 10.0, 0.21, 3, 1.1896, NULL, 0.177);
INSERT INTO investments.orders (order_id,buy_id,open_position,date,hour,product_id,transaction_type,quantity,price_unit,currency_id,cambio_rate,comissions,taxes) VALUES (6, 4, True, '20250801', '15:33:00', 3, 'BUY', 10.0, 132.24, 2, NULL, 1.0, 17.46);
INSERT INTO investments.orders (order_id,buy_id,open_position,date,hour,product_id,transaction_type,quantity,price_unit,currency_id,cambio_rate,comissions,taxes) VALUES (7, 5, True, '20251017', '10:31:00', 3, 'BUY', 10.0, 138.6, 2, NULL, 1.0, 18.3);
INSERT INTO investments.orders (order_id,buy_id,open_position,date,hour,product_id,transaction_type,quantity,price_unit,currency_id,cambio_rate,comissions,taxes) VALUES (8, 6, True, '20251125', '15:49:00', 4, 'BUY', 1.0, 2006.06, 3, 1.1572, 3.0, 17.335);
INSERT INTO investments.orders (order_id,buy_id,open_position,date,hour,product_id,transaction_type,quantity,price_unit,currency_id,cambio_rate,comissions,taxes) VALUES (9, 7, True, '20251125', '15:51:00', 5, 'BUY', 10.0, 114.79, 2, NULL, 5.0, 11.479);
INSERT INTO investments.orders (order_id,buy_id,open_position,date,hour,product_id,transaction_type,quantity,price_unit,currency_id,cambio_rate,comissions,taxes) VALUES (10, 8, True, '20251125', '15:52:00', 6, 'BUY', 0.05, 74723.56, 2, NULL, 1.0, NULL);
INSERT INTO investments.orders (order_id,buy_id,open_position,date,hour,product_id,transaction_type,quantity,price_unit,currency_id,cambio_rate,comissions,taxes) VALUES (11, 9, True, '20251125', '15:53:00', 7, 'BUY', 10.0, 47.19, 2, NULL, 3.0, 4.719);